<div class="backres">
  <div class="backbutton" (click)="back()" data-cy="activityBackButton">
    <i
      class="fas fa-long-arrow-alt-left fa-2x"
      style="color: white !important;"
    ></i>
  </div>
</div>
<h2>{{ activity.name }}</h2>
<div class="backdef" *ngIf="!isAdmin">
  <div class="backbutton" (click)="back()" data-cy="activityBackButton">
    <i
      class="fas fa-long-arrow-alt-left fa-2x"
      style="color: white !important;"
    ></i>
  </div>
</div>
<div class="operationButtons" *ngIf="isAdmin">
  <div class="back">
    <div class="backbutton" (click)="back()" data-cy="activityBackButton">
      <i
        class="fas fa-long-arrow-alt-left fa-2x"
        style="color: white !important;"
      ></i>
    </div>
  </div>
  <div class="editbuttons">
    <button
      [routerLink]="['../../wijzigActiviteit', activity.id, 'activity']"
      style="margin-right: 0.5em;"
      data-cy="activityEditButton"
    >
      Wijzig
    </button>
    <button
      mwlConfirmationPopover
      [popoverTitle]="popoverTitle"
      [popoverMessage]="popoverMessage"
      placement="left"
      (confirm)="delete()"
      style="background-color: #E50D0D"
      data-cy="activityDeleteButton"
    >
      Verwijder
    </button>
  </div>
</div>

<div class="activityContainer">
  <div class="description">
    <p>{{ activity.description }}</p>
    <p>Van {{ activity.start | date }} tot {{ activity.end | date }}</p>
    <img
      src="../../assets/images/loading.gif"
      alt="laden"
      *ngIf="isLoading; else doneLoading"
      class="loader"
    />

    <ng-template #doneLoading>
      <button (click)="register()" *ngIf="!isRegistered; else notRegistered" data-cy="subscribeButton">
        Inschrijven
      </button>
      <ng-template #notRegistered>
        <button (click)="unsubscribe()" data-cy="unsubscribeButton">Uitschrijven</button>
      </ng-template>
    </ng-template>
  </div>
  <div class="images">
    <div style="height: 100%;">
      <div
        *ngFor="
          let image of activity.images
            | paginate: { itemsPerPage: 4, currentPage: p }
        "
      >
        <img [src]="backend + image" alt="{{ activity.name }}" />
      </div>
      <pagination-controls
        (pageChange)="p = $event"
        *ngIf="activity.images.length !== 0"
        class="controls"
        nextLabel="Volgende"
        previousLabel="Vorige"
      ></pagination-controls>
    </div>
  </div>
</div>
<div *ngIf="alertMessage !== ''" class="alertMessage">
  <p class="alertMessageText">{{ alertMessage }}</p>
</div>
<div class="spacer" style="height: 100px;"></div>
