<h2>{{ activity.name }}</h2>
<div class="activityContainer">
  <div class="description">
    <p>{{ activity.description }}</p>
    <img src="../../assets/images/loading.gif" alt="laden" *ngIf="isLoading; else doneLoading" class="loader">
    <ng-template #doneLoading>
      <button (click) = "register()" *ngIf="!isRegistered; else notRegistered">Inschrijven</button>
      <ng-template #notRegistered>
        <button (click) = "unsubscribe()">Uitschrijven</button>
      </ng-template>
    </ng-template>
  </div>
  <div class="images">
    <div style="height: 100%;">
      <div *ngFor="let image of activity.images | paginate: {itemsPerPage: 4, currentPage: p }">
        <img src="{{ image }}" alt="{{ activity.name }}" />
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
