$blue: #008bd0;
$red: #e50d0d;
$orange: #f07306;
$yellow: #f9b820;
$green: #46b72a;
$lightblue: #31c5d8;

h2 {
  margin: 2em;
  text-align: center;
  color: $blue;
}

@media (min-width: 992px) {
  .activityContainer {
    width: 60%;
    margin: 0 auto;
    display: flex;

    .description {
      width: 50%;

      button {
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 0.5em 1em;
      }

      .loader {
        width: 10%;
        text-align: center;
        margin: 0 auto;
        display: block;
        padding-top: 0.5em;
      }

      p {
        margin: 0 1em 1em 0;
      }
    }

    .images {
      width: 50%;
      display: flex;
      flex-wrap: wrap;

      & > div > div {
        max-width: 48%;
        margin: 0.1em;
        display: inline-block;

        img {
          max-width: 100%;
        }
      }
    }
  }
  .backres{
    display: none;
  }
  .operationButtons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1em;
    position: relative;
    top: -6em;

    .editbuttons {
      margin-right: 1em;
    }
    .back {
      cursor: pointer;
      .backbutton {
        padding: 0 1em;
        border-radius: 5px;
        background-color: $yellow;
        display: inline-block;
      }
    }
  }
}

@media (max-width: 992px) {
  h2{
    margin: 0.5em 0;
  }
  .activityContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;

    .description {
      width: 100%;
      text-align: center;

      button {
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 0.5em 1em;
      }

      .loader {
        width: 10%;
        text-align: center;
        margin: 0 auto;
        display: block;
        padding-top: 0.5em;
      }

      p {
        margin: 0 1em 1em 0;
      }
    }

    .images {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 1em;

      & > div > div {
        max-width: 48%;
        margin: 0.1em;
        display: inline-block;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .operationButtons {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-left: 1em;
    & > div {
      margin-right: 1em;
    }
  }
  .back{
    display: none;
  }
  .backres {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    .backbutton {
      padding: 0.1em 1em 0 1em;
      border-radius: 5px;
      background-color: $yellow;
      display: inline-block;
    }
  }
}
