$blue: #008BD0;
$red: #E50D0D;
$orange: #F07306;
$yellow: #F9B820;
$green: #46B72A;
$lightblue: #31C5D8;

.activitycontainer
{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
  .formcontainer {
    padding-top: 2em;
    text-align: center;
    width: 48%;
    .activityForm{
      table {
        max-width: 100%;
        td {
          .mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }
  .imagecontainer{
    width: 48%;
    .activityImages{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &>div{
        max-width: 48%;
        margin: 0.1em;
        display: inline-block;
        padding: 0;
        img{
          width: 100%;
        }
      }
      .controls{
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  button{
    margin: 0 auto;
  }
}
.categorycontainer{
  padding-top: 2em;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  .categoryForm {
    text-align: center;
      display: block;
      width: 40%;
      max-width: 100%;
      margin: 0 auto;
    table {
      display: inline-block;
      tr{
          width: 100%;
      }
      td {
        .mat-form-field {
          width: 100%;
        }
      }
    }
  }
}

.selected{
  box-sizing: border-box;
  border: 4px solid $green;
  border-radius: 2px;
}