<div class="container">
  <h2>Over Fonkelster</h2>
  <div>
    <p>In mijn praktijk Fonkelster begeleid ik ouders en kinderen.<br>
      Mijn missie is om de verbondenheid tussen ouder en kind heel krachtig te laten groeien. Mijn specialisatie is hoogsensitiviteit.<br><br>
      
      Ik begeleid kinderen en hun ouders via individuele sessies. Ik geef avondvormingen voor ouders. In elke vakantie organiseer ik kampen voor hoogsensitieve kinderen en ik creëer ook ouder&kind kampen. Ook voor scholen heb ik een aanbod aan vormingen.<br><br>
      
      Ik begrijp de taal van het kind. Deze ga ik vertalen naar de ouders toe. Zo gaan ouder en kind nog meer verbinden met elkaar. Ook geloof ik dat het kind zichzelf veel beter gaat begrijpen als het bewust wordt van de processen die binnen in zichzelf gebeuren. Door inzicht te krijgen in wat er voor zowel ouder als kind belangrijk is, verschijnen er oplossingen.<br><br>
      
      Ouders en kinderen komen met heel wat thema's naar me toe : o.a. omgaan met hoogsensitiviteit, slapen, nachtmerries, verdriet, boosheid, scheiding, zelfbeeld, verlegen, faalangst, vrienden, alleen voelen, zelfvertrouwen, pesten, concentratie, onverklaarbare buikpijn, stil, assertiviteit, afscheid, rouw...<br>
      Ook voor hele jonge kinderen en baby's is gebleken dat mijn methode werkt. Ik werk dan via de ouder voor het jonge kind.<br>
      Heb je een vraag over een bepaald thema of ik jou of jouw kind hulp kan bieden? Mail gerust naar nancy@fonkelster.be</p>
      <div class="aboutImageContainer">
        <img [src]="imagePrefix + 'fonkelsterAbout.jpg'" alt="Over fonkelster foto" class="aboutImage">
      </div>
  </div>
  <div class="filler"></div>
</div>

