$blue: #008bd0;
$red: #e50d0d;
$orange: #f07306;
$yellow: #f9b820;
$green: #46b72a;
$lightblue: #31c5d8;

.container {
  width: 60%;
  h2 {
    color: $blue;
  }
  .aboutImageContainer {
    width: 80% !important;
    height: 300px !important;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    .aboutImage {
      display: block;
      width: 100%;
      position: absolute;
      top: 0px; 
    }
  }
}
.filler {
  height: 200px;
}
