<div class="contactContainer">
  <h2>Waar kan je me vinden?</h2>
  <div class="innerContainer">
    <div class="contact">
      <p>Nancy Verhaeghe</p>
      <p>nancy@fonkelster.be</p>
      <p>Adres praktijk:</p>
      <p>Moeresteenweg 66</p>
      <p>8660 Adinkerke</p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.014885074096!2d2.589917115812285!3d51.07127527956578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dc96849897eacd%3A0x9e4017d8eb084bc2!2sFonkelster!5e0!3m2!1snl!2sbe!4v1558260052941!5m2!1snl!2sbe" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div><p>De coachingsessies en activiteiten bij Fonkelster hebben een aanvullende en ondersteunende functie en vervangen op geen enkele wijze de behandelingen bij de reguliere hulpverleners, zoals huisarts, psycholoog, psychiater, therapeut of nog anders.</p></div>
</div>