<div class="header">
    <h2>Overzicht van inschrijvingen</h2>
    <p>Beheer hier je inschrijvingen</p>
</div>
<div *ngIf="(activities); else loading" class="container" data-cy="activities"> 
      <ngb-accordion [closeOthers]="true">
        <div *ngFor="let activity of activities" class="activities" data-cy="activityItem">
            <ngb-panel [id]="activity.id" [title]="activity.name" data-cy="activityName">
                <ng-template ngbPanelContent>
                    <div mat-line class="row">
                        <p> {{activity.start | date}} </p>
                        <p> {{activity.end | date}} </p>
                       <button (click) = "unsubscribe(activity.id)" data-cy="activityUnsubscribeButton">Uitschrijven</button>
                       <button [routerLink]="['../activiteit/', activity.id]">Details</button>
                  </div>
                </ng-template>
              </ngb-panel>
        </div>
      </ngb-accordion>
      <div *ngIf="activities.length === 0" class="empty">
          <p>Je hebt je nog niet ingeschreven voor een activiteit</p>
      </div>
</div>
<div class="verticalSpacer"></div>
<ng-template #loading>
  <img src="../../../assets/images/loading.gif" alt="loading" class="loading" data-cy="loader">
</ng-template>