$blue: #008BD0;
$red: #E50D0D;
$orange: #F07306;
$yellow: #F9B820;
$green: #46B72A;
$lightblue: #31C5D8;

.navButton {
  color: white;
  padding: 0.3em 0.6em;
  margin-right: 0.5em;
  border-radius: 50px;

  text-decoration: none;
}

h2{
  color: $blue;
  text-align: center;
}

@media(min-width: 992px)
{
  .mat-form-field {
    width: 95%;
  }
  .fullLength{
    width: 97.5% !important;
  }
  .changeForm{
    display: flex;
    justify-content: center;
    form{
      width: auto;
      display: inline-block;
      button{
        display: block;
        margin: 0 auto;
        width: 20% !important;
      }
    }
  }
}

@media(max-width: 992px)
{
  .mat-form-field {
    width: 95%;
  }
  .fullLength{
    width: 97.5% !important;
  }
  .changeForm{
    display: flex;
    justify-content: center;
    form{
      width: 90%;
      margin: 0 auto;
      display: inline-block;
      table {
        width: 100%;
        td,th{
          margin-right: 0.5em;
        }
        tr{
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;
          justify-content: center;
        }

      }
      button{
        display: block;
        margin: 0 auto;
        width: auto !important;
      }
    }
  }
}