<mat-sidenav-container
  class="sidenav-container"
  style="background-color: white;"
  [hasBackdrop]="true"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
    position="end"
  >
    <mat-nav-list>
      <a [routerLink]="['over']" class="navButton" (click)="drawer.toggle()">Over</a>
      <a [routerLink]="['categorieën']" class="navButton" (click)="drawer.toggle()" data-cy="activityButton">Activiteiten</a>
      <a
        [routerLink]="['wijzigActiviteit', '-1', 'activity']"
        class="navButton"
        *ngIf="isAdmin()"
        (click)="drawer.toggle()"
        data-cy="addActivityButton"
        >Activiteit toevoegen</a
      >
      <a [routerLink]="['praktijk']" class="navButton" (click)="drawer.toggle()">Praktijk</a>
      <a [routerLink]="['contact']" class="navButton" (click)="drawer.toggle()">Contact</a>
      <a [routerLink]="['register']" class="navButton" *ngIf="user === null" (click)="drawer.toggle()" data-cy="loginButton"
        >Log in</a
      >
      <div ngbDropdown class="d-inline-block" *ngIf="user !== null" placement="bottom-left">
        <button class="navButton" id="dropdownBasic1" ngbDropdownToggle data-cy="accountButton">
          Account
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
          <a
            ngbDropdownItem
            [routerLink]="['overzichtInschrijvingen']"
            class="navButton"
            (click)="drawer.toggle()"
          >
            Inschrijvingen
          </a>
          <a ngbDropdownItem [routerLink]="['account']" class="navButton" (click)="drawer.toggle()">
            Wijzig gegevens
          </a>
          <a ngbDropdownItem class="navButton" (click)="logOut()" style="cursor: pointer" (click)="drawer.toggle()" data-cy="logoutButton">
            Log uit
          </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navToolbar">
      <a [routerLink]="['home']" class="logolink">
        <img [src]="imagePrefix + 'logo.png'" alt="Logo" class="logo" />
      </a>
      <div *ngIf="!(isHandset$ | async)" class="navRight">
        <a [routerLink]="['over']" class="navButton">Over Fonkelster</a>
        <a [routerLink]="['categorieën']" class="navButton" data-cy="activityButton">Activiteiten</a>
        <a
          [routerLink]="['wijzigActiviteit', '-1', 'activity']"
          class="navButton"
          *ngIf="isAdmin()"
          data-cy="addActivitybutton"
          >Activiteit toevoegen</a
        >
        <a [routerLink]="['praktijk']" class="navButton">Praktijk</a>
        <a [routerLink]="['contact']" class="navButton">Contact</a>
        <a [routerLink]="['register']" class="navButton" *ngIf="user === null" data-cy="loginButton"
          >Log in</a
        >

        <div ngbDropdown class="d-inline-block" *ngIf="user !== null">
          <button class="navButton" id="dropdownBasic1" ngbDropdownToggle>
            Account
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" placement = "bottom-right">
            <a
              ngbDropdownItem
              [routerLink]="['overzichtInschrijvingen']"
              class="navButton"
            >
              Overzicht inschrijvingen
            </a>
            <a ngbDropdownItem [routerLink]="['account']" class="navButton">
              Wijzig gegevens
            </a>
            <a ngbDropdownItem class="navButton" (click)="logOut()" style="cursor: pointer">
              Log uit
            </a>
          </div>
        </div>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon"
          ><i class="fas fa-bars"></i
        ></mat-icon>
      </button>
    </mat-toolbar>
    <ng-content class="container"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
