<div class="activity-header">
  <h1>Activiteiten</h1>
  <div>
    Gelieve een categorie te kiezen
  </div>
</div>
<div class="categories" *ngIf="!loading; else spinner">
  <div *ngFor="let categorie of categories" class="category">
    <mat-card
      [routerLink]="['../categorie/', categorie.name]"
      class="category-card"
    >
      <mat-card-header>
        <mat-card-title>{{ categorie.name }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="backend + categorie.image.url"
        alt="Foto van categorie"
      />
      <div *ngIf="isAdmin">
          <button [routerLink]="['../wijzigActiviteit', categorie.name, 'category']" style="margin-right: 0.5em;">Wijzig</button>
          <button (click)="delete(categorie)" style="background-color: #E50D0D">Verwijder</button>
      </div>
    </mat-card>
  </div>
  <p style="text-align: center" *ngIf="categories.length === 0">Er zijn geen categorieën beschikbaar</p>
</div>
<ng-template #spinner>
  <img src="../../../assets/images/loading.gif" alt="loading" class="loading" />
</ng-template>
