$blue: #008BD0;
$red: #E50D0D;
$orange: #F07306;
$yellow: #F9B820;
$green: #46B72A;
$lightblue: #31C5D8;

.activity-header {
  text-align: center;

  &>* {
    color: $blue !important;
  }
}



.loading {
  display: block;
  width: 10%;
  margin: 2em auto;
}

.category-card {
  cursor: pointer;
  // border: none;
  // box-shadow: none;

  .mat-card-image {
    border-radius: 2px;
  }
}

button {
  cursor: pointer;

  &:hover {
    transition: 0.5s;
    background-color: #F07306 !important;
  }
}

@media(min-width: 992px) {
  .categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

    .category {
      display: inline-block;
      width: 20%;
      text-align: center;

      .mat-card {
        margin: 0.5em !important;

        .mat-card-title {
          height: 2em;
          display: flex;
          align-items: center;
        }

        .mat-card-header {
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
    }

  }
}

@media(max-width: 992px) {
  .categories {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

    .category {
      width: 80%;
      text-align: center;
      margin: 0 auto;

      .mat-card {
        margin: 0.5em !important;

        .mat-card-title {
          height: 2em;
          display: flex;
          align-items: center;
        }

        .mat-card-header {
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
    }
  }
}
