<div class="activity-header">
  <h1>Activiteiten</h1>
  <div>
    Gelieve een categorie te kiezen
  </div>
</div>
<div class="categories" *ngIf="!loading; else spinner">
  <div *ngFor="let categorie of categories" class="category">
    <mat-card
      [routerLink]="['../categorie/', categorie.name]"
      class="category-card"
    >
      <mat-card-header>
        <mat-card-title>{{ categorie.name }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ categorie.image.url }}"
        alt="Foto van categorie"
      />
    </mat-card>
  </div>
</div>
<ng-template #spinner>
  <img src="../../../assets/images/loading.gif" alt="loading" class="loading" />
</ng-template>
