$blue: #008BD0;
$red: #E50D0D;
$orange: #F07306;
$yellow: #F9B820;
$green: #46B72A;
$lightblue: #31C5D8;

.activity-header {
  text-align: center;

  &>* {
    color: $blue !important;
  }
}


.activity-card {
  cursor: pointer;
}

@media(min-width: 992px)
{
  .back{
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    cursor: pointer;
    .backbutton{
       padding: 0 1em;
       border-radius: 5px;
       background-color: $yellow;
       display: inline-block;
    }
  }
  .activities {
    padding-top: 2em !important; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    .activity {
      display: inline-block;
      width: 20%;
      text-align: center;
      .mat-card {
          margin: 0.5em !important;
          .mat-card-title{
              height: 2em;
              display: flex;
              align-items: center;
          }
          .mat-card-header{
              display: flex;
              justify-content: center;
              align-items: center;
  
          }
        }
    }
    
  }
}

@media(max-width: 992px)
{
  .back{
    width: 78%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    cursor: pointer;
    .backbutton{
       padding: 0 1em;
       border-radius: 5px;
       background-color: $yellow;
       display: inline-block;
    }
  }
  .activities {
    padding-top: 2em !important; 
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    .activity {
      width: 90%;
      text-align: center;
      margin: 0 auto;
      .mat-card {
          margin: 0.5em !important;
          .mat-card-title{
              height: 2em;
              display: flex;
              align-items: center;
          }
          .mat-card-header{
              display: flex;
              justify-content: center;
              align-items: center;
  
          }
        }
    }
    
  }
}

