<div class="back">
  <div class="backbutton" (click)="back()">
    <i
      class="fas fa-long-arrow-alt-left fa-2x"
      style="color: white !important;"
    ></i>
  </div>
</div>
<div class="activities">
  <div *ngFor="let activity of activities" class="activity">
    <mat-card
      [routerLink]="['../../activiteit/', activity.id]"
      class="activity-card"
      data-cy="activityCard"
    >
      <mat-card-header>
        <mat-card-title>{{ activity.name }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="backend + activity.frontImage"
        alt="Foto van activiteit"
      />
    </mat-card>
  </div>
  <div *ngIf="activities.length === 0" class="empty">
    <p>Er zijn geen activiteiten voor deze categorie</p>
  </div>
</div>
<div *ngIf="alertMessage !== ''" class="alertMessage">
  <p class="alertMessageText">{{ alertMessage }}</p>
</div>
