.activityForm
{
    padding-top: 2em;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    table{
        text-align: center;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}
.categoryForm
{
    padding-top: 2em;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    table{
        text-align: center;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}
