.activityForm {
  padding-top: 2em;
  text-align: center;
  width: 60%;
  margin: 0 auto;

  table {
    text-align: center;
    display: block;
    width: 40%;
    margin: 0 auto;

    td {
      .mat-form-field {
        width: 100%;
      }

    }
  }
}

.categoryForm {
  padding-top: 2em;
  text-align: center;
  width: 60%;
  margin: 0 auto;

  table {
    text-align: center;
    display: block;
    width: 40%;
    margin: 0 auto;
    tr{
        width: 100%;
    }
    td {
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
