<div style="background-color: white;" class="container">
  <h1>Welkom bij Fonkelster</h1>
  <div style="display: flex;" class="welcomeMessage">
    <div>
      <img
        [src]="imagePrefix + 'fonkelsterWindow.png'"
        alt="Foto Fonkelster"
        style="width: 100% !important; height: auto;"
      />
    </div>
    <div>
      <p>
        “mama, ik heb de sleutel gevonden! De sleutel van liefde, bedoelen ze…”
        <br /><br />Ik word wakker uit mijn droom. Ik voel me warm en gelukkig.
        En heel zeker weet ik dat mijn droom ook werkelijkheid is.
        <br /><br />Mijn missie is om voor ouder en kind de mogelijkheid te
        scheppen om de kracht bij zichzelf te ontdekken, zodat opvoeden een leuk
        spel in begeleiden wordt… <br /><br />Voel je welkom bij
        Fonkelster, <br /><br />Nancy
      </p>
    </div>
  </div>
  <hr />
  <div class="about">
    <h1>Wat doe ik?</h1>
    <p>
      In mijn praktijk Fonkelster begeleid ik ouders en kinderen. <br />Mijn
      missie is om de verbondenheid tussen ouder en kind heel krachtig te laten
      groeien en ik ben gespecialiseerd in hoogsensitiviteit.
      <br /><br />Ik begeleid kinderen en hun ouders via individuele sessies. Ik
      geef avondvormingen voor ouders. In elke vakantie organiseer ik kampen
      voor hoogsensitieve kinderen en ik creëer ook ouder&kind kampen. Ook voor
      scholen heb ik een aanbod aan vormingen.
    </p>
    <hr>
  </div>
</div>
