$blue: #008BD0;
$red: #E50D0D;
$orange: #F07306;
$yellow: #F9B820;
$green: #46B72A;
$lightblue: #31C5D8;

h1 {
  text-align: center;
  color: $blue;
  font-size: 2.5em;
}

.welcomeMessage {
  .welcomeMessage {
    display: flex;
    flex-direction: row;
  }
  &>div {
    margin: 1em;
  }
}

.about {
  text-align: center;
}

@media(max-width: 992px) {
  .welcomeMessage {
    display: flex;
    flex-direction: column;
  }
  .container{
    width: 90%;
  }
}

@media(min-width: 992px)
{
  .welcomeMessage {
    display: flex;
    flex-direction: row;
  }
}
