$blue: #008BD0;
$red: #E50D0D;
$orange: #F07306;
$yellow: #F9B820;
$green: #46B72A;
$lightblue: #31C5D8;

.loginError{
  text-align: center;
  margin-bottom: 1em;
}
@media(min-width: 992px) {
  .tabgroup {
    background-color: white;
    margin: 0 auto;
    text-align: center;

    .tabcontent {
      margin: 1em;
      box-shadow: none;

      form.loginForm {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 20%;

        button {
          margin: 0 auto;
        }
      }

      form.registerForm {
        display: flex;
        margin: 0 auto;
        width: 40%;
        padding: 1em;

        button {
          max-width: 30% !important;
          margin: 0 auto;
          margin-top: 1em;
        }

        table {
          width: 100%;

          td>* {
            width: 90%;
          }

          td.fullLength>* {
            width: 95%;
          }

          td.small>* {
            width: 85%;
          }
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .tabgroup {
    background-color: white;
    margin: 0 auto;
    text-align: center;

    .tabcontent {
      margin: 1em;
      box-shadow: none;

      form.loginForm {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 60%;

        button {
          width: 50%;
          margin: 0 auto;
        }
      }

      form.registerForm {
        // display: flex;
        // margin: 0 auto;
        // width: 40%;
        // padding: 1em;
        max-width: 100%;
        margin: 0 auto;

        button {
          margin: 0 auto;
          margin-top: 1em;
          max-width: auto !important;
          margin-left: 0;
        }

        table {
          width: 100%;
          td,th{
            margin-right: 0.5em;
          }
          tr{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
          }

        }
      }
    }
  }
}
